.header {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.title {
  font-size: 25px;
  color: var(--title-color);
}

.actions {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}

.icon {
  cursor: pointer;
  color: var(--table-icon-color);
  font-size: 20px;
}

.icon:hover {
  color: var(--table-icon-hover-color);
}
