.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 15px;
}

.actions {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}

.icon {
  cursor: pointer;
  color: var(--table-icon-color);
  font-size: var(--table-icon-size);
}

.icon:hover {
  color: var(--table-icon-hover-color);
}
