.container {
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.image {
  height: 200px;
  width: 200px;
  border-radius: 6px;
  margin-bottom: 10px;
  /* border: 1px solid #bdbdbd; */
}

.removeButton {
  display: flex;
  padding: 10px;
  /* background-color: #eeeeee; */
  border: 2px solid var(--icon-border-color);
  color: var(--icon-color);
  border-radius: 6px;
  background-color: var(--icon-background-color);
}

.removeButton:hover {
  background-color: #bdbdbd;
  cursor: pointer;
  color: var(--icon-hover-color);
  background-color: var(--icon-hover-background-color);
  border-color: var(--icon-hover-border-color);
}
