.container {
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}

.content {
  background-color: var(--upload-area-background-color);
  border: 2px dashed var(--upload-area-border-color);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 200px;
  align-items: center;
  justify-content: center;
  color: var(--upload-area-text-color);
  cursor: pointer;
}

.content:active,
.content:hover {
  background-color: var(--upload-area-hover-background-color);
  color: var(--upload-area-hover-text-color);
  border-color: var(--upload-area-hover-border-color);
}

.icon {
  font-size: var(--upload-icon-size) !important;
}

.error {
  color: var(--color-error);
  border-color: var(--color-error);
}
