.modal {
  z-index: 1000000002 !important;
  text-align: center;
  padding: 0 !important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.dialog {
  min-width: 500px;
  max-width: 100%;
  width: auto !important;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}

.content {
  background-color: var(--modal-background-color) !important;
}

.modalHeader {
  border-bottom: 1px solid var(--modal-border-color) !important;
}

.title {
  display: flex;
  justify-content: space-between;
  padding: 0px 7px;
  width: 100%;
  align-items: center;
}

.close {
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
  gap: 10px;
}
