.container {
  margin: 40px;
}

.title {
  font-size: 30px;
  color: var(--title-color);
}

.actions {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
}

.link {
  display: block;
  text-decoration: none;
}

.icon {
  cursor: pointer;
  color: var(--table-icon-color);
  font-size: 20px;
}

.icon:hover {
  color: var(--table-icon-hover-color);
}
