.container {
  padding: 80px;
}

.title {
  max-width: 800px;
  margin-bottom: 40px;
}

.description {
  color: var(--text-color);
  max-width: 800px;
  margin-bottom: 25px;
}

.buttons {
  display: flex;
  gap: 50px;
  margin-top: 30px;
}
