.container {
  padding: 0px 40px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 40px;
  margin-bottom: 0px;
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.title {
  font-size: 20px;
}

.back {
  cursor: pointer;
}

.buttons {
  display: flex;
  gap: 20px;
}

.content {
  margin-bottom: 60px;
}
