.container {
  margin: 40px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: baseline;
}

.actionBar {
  display: flex;
  margin-bottom: 15px;
  justify-content: flex-end;
  gap: 15px;
}

.actions {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
}

.link {
  display: block;
  text-decoration: none;
}

.icon {
  cursor: pointer;
  color: var(--table-icon-color);
  font-size: var(--table-icon-size);
}

.icon:hover {
  color: var(--table-icon-hover-color);
}
