.container {
  margin: 40px;
}

.actionBar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  align-items: center;
  gap: 20px;
}

.title {
  flex: 1;
}

.back {
  cursor: pointer;
  color: var(--table-icon-color);
  font-size: var(--table-icon-size);
}

.back:hover {
  color: var(--table-icon-hover-color);
}

.buttons {
  display: flex;
  gap: 20px;
}

.content {
  margin-bottom: 60px;
}
