.container {
  margin-bottom: 20px;
}

.label {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 600;
  color: var(--input-label-color);
}

.error {
  color: #dc3545;
}

.input {
  background-color: var(--input-background-color) !important;
  color: var(--input-color) !important;
  border: 1px solid var(--input-border-color) !important;
  font-weight: 600 !important;
  font-size: 16px !important;
}
