.navbar {
  background-color: var(--navbar-background-color);
  padding: 20px 40px;
}

.links {
  display: flex;
  gap: 40px;
}

.link {
  font-size: var(--navbar-link-size);
  display: block;
  text-decoration: none;
  color: var(--navbar-link-color);
}

.link:hover {
  color: var(--navbar-link-hover-color);
}
