.navbar {
  background-color: var(--navbar-background-color);
  padding: 20px 40px;
}

.links {
  display: flex;
  gap: 40px;
}

.link {
  font-size: 20px;
  display: block;
  text-decoration: none;
  color: var(--navbar-text-color);
}
